// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/// Load custom modules
@use '../abstracts' as a;
@use '../themes' as t;

.content__home {
  margin: 0 auto;
  max-width: 80dvw;
  max-height: 60dvh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100%;
  align-items: center;

  .home__image {
    background-color: a.theme-color('foreground');
    border-radius: a.$border-radius;
    grid-column: 3 / -1;
    grid-row: 1 / 2;
    height: 100%;
    justify-self: right;
  }

  .home__order {
    justify-self: left;
    background-color: a.theme-color('background', 'transparent');
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border: 0.075rem solid a.theme-color('primary');
    border-radius: a.$border-radius;
    padding: 3rem 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__text {
      @include a.text-setting(800);
      line-height: 1;
    }

    &__button {
      align-self: flex-end;
      @include a.text-setting(700);
      font-weight: 600;
      margin-top: 3rem;
      border-radius: 1rem;
    }
  }
}
