// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

/// Load custom modules
@use '../abstracts' as a;
@use '../themes' as t;

.header {
  margin: 1rem;
  .logo {
    height: 10rem;
    background-image: url('../assets/images/logo.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
