// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

/// Load custom module
@use '../abstracts' as a;
@use '../themes' as t;

.button {
  color: a.theme-color('dark');
  background-color: a.theme-color('primary');
  font-family: a.$font-stack-accent;
  border-radius: a.$border-radius;
  padding: 0.125rem 2rem;
  line-height: 1;
  cursor: pointer;
  border: 0.125rem solid transparent;

  &:focus-visible {
    box-shadow: none;
    outline: none;
    border-color: a.theme-color('primary', 'light');
    background-color: a.theme-color('primary', 'light');
  }
  &:hover:not(:disabled) {
    background-color: a.theme-color('primary', 'dark');
    border-color: a.theme-color('primary', 'dark');
  }
  &:focus {
    border-color: a.theme-color('background');
    outline: 0.0675rem solid a.theme-color('primary');
  }
  &:disabled {
    background-color: a.theme-color('primary', 'transparent');
    color: a.theme-color('dark', 'transparent');
    cursor: default;
  }
  &:active:not(:disabled) {
    background-color: a.theme-color('primary', 'light');
    border-color: a.theme-color('primary', 'light');
    outline: none;
  }
}
